<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Pets</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>

	<div class="container table-responsive-xl">

		<h3>Pets</h3>

		<hr />
		<table class="table table-bordered table-striped">
			<caption>Pets cadastrados</caption>

			<thead>
				<tr>
					<th>Nome</th>
					<th>Data de Nascimento</th>
					<th>Idade</th>
					<th>Tutor</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="animal: ${animais}">
					<td th:text="${animal.getNome()}" />
					<td th:text="${animal.getNascimento()}" />
					<td th:text="${animal.getIdade()}" />
					<td th:text="${animal.getTutor().getNome()}" />
					<td>
						<div class="container">
							<div class="row justify-content-md-center">
								<div class="col-md-auto">
									<a th:href="'http://127.0.0.1:8080/animal/consultar/' + ${animal.getId()}"
										class="btn btn-primary">
										<i class="bi bi-pencil-square"></i>
									</a>
									<a th:method="delete" th:href="'http://127.0.0.1:8080/api/v1/animal/'+ ${animal.getId()}" class="btn btn-outline-danger">
										<i class="bi bi-trash3-fill"></i>
									</a>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="">
					<td colspan="5" class="text-center">
						<a href="/animal/cadastrar" class="btn btn-primary">
							<span><i width="32" height="32" class="bi bi-plus-circle-fill"></i></span> <span>Novo Pet</span>
						</a>
						<a href="/tutor/cadastrar" class="btn btn-primary">
							<span><i class="bi bi-person-plus-fill"></i></span></i> 
							<span>Novo Tutor</span>
						</a>
						<a href="/" class="btn btn-secondary">
							<span>Voltar</span>
						</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</body>
</html>