<!DOCTYPE html>

<html 
    lang="en" 
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor</title>
</head>
<body>
    <h2>Cadastrar Tutor</h2>
    <form method="post">
        Nome: <input type="text" name="nome" id="nome">
        Data de Nascimento: <input type="date" name="nascimento" id="nascimento">
        CPF: <input type="text" name="cpf" id="cpf">
        E-mail: <input type="email" name="email" id="email">
        <input type="submit" value="Salvar">
    </form>
    
</body>
</html>